<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2>به هم‌اتاقی خوش آمدید!</h2>
            <p>
                آیا به دنبال یک هم‌اتاقی مناسب هستید که با شخصیت و سبک زندگی شما همخوانی داشته باشد؟ هم اتاقی برای کمک
                به شما طراحی شده است! ما در هم اتاقی با استفاده از یک فرم شخصیت شناسی، به شما افرادی را پیشنهاد می‌دهیم
                که می‌توانند بهترین هم‌اتاقی برای شما باشند تا از زمان اقامت خود بیشترین لذت را ببرید.
            </p>
            <a href="" class="btn btn-primary">هم‌اتاقی خود را پیدا کنید</a>
        </div>
        <div class="col-12 col-md-6">
            <img src="" alt="" class="img-fluid">
        </div>
    </div>
</div>
